/*CANVAS*/
.canvas-container{
}
canvas{
  display: block;
  max-width: 48vw;
  margin-right: 2rem;
  background-color: rgb(209, 206, 206);
  /* border: var(--gborder); */
}




@media (max-width:1000px){
.canvas-container{
  background-color: rgb(177, 39, 85);

  /* border: var(--gborder); */

}
canvas{
  background-color: rgb(177, 39, 85);

  display: block;
  width: 60vw;
  margin-right: 2rem;
  background-color: rgb(209, 206, 206);
  margin:0 auto;
}


}