header{
  background-color: var(--gbgc);
  border:var(--gborder);
  box-shadow: var(--gshadow);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height:10rem;
  padding-left:1rem;
  padding-right:1rem ;
}
.logo{
  font-size: 3rem;
}
ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
nav ul li a{
  margin-inline-start: 4rem;
  font-size: 2rem;
  text-decoration: none;
  color:var(--gcolor);
}
nav ul li a:hover{
  padding-top:5rem;
  padding-bottom: 5rem;
  color:var(--ghover-border);
}
.search-container{
  padding-top: 3rem;
  height: 10rem;
  text-align: center;
}
.search{
  font-size: 1.5rem;
  width: 20rem;
  height: 5rem;
  background-color: var(--gbgc);
  color:var(--gcolor);
  border: var(--gborder);
  border-radius: var(--gbradius);
}
  .search:hover{
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
@media (max-width:1000px){
  nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  height:3rem;
  width: 100vw;
  }
  .logo{
  font-size: 0.8rem;
  }
  nav ul li a{
  margin-inline-end: 0.2rem;
  font-size: 0.5rem;
  text-decoration: none;
  color:var(--gcolor);
  font-size:0.7rem;
  padding-left: 0;
  padding-right: 0;
  }
  nav ul li a:hover{
  padding-top:1rem;
  padding-bottom: 1rem;
  color:var(--ghover-border);
  }
  .search-container{
  padding-top: 1.9rem;
  height: 5rem;
  padding-bottom: 100px;
  }
  .search{
  font-size: 1rem;
  width: 15rem;
  height: 3rem;
  }
}
