
*{
  box-sizing: border-box;
}
:root{
  --color0:#1a73e8;
  --color1:#5f6368;
  --color2:#fff;
  --color3:#d8d8d8;

  

}
@font-face{
  font-family: Poppins;
  src: url(/fonts/Poppins-Regular.ttf);
}
body{
  font-family: Poppins;
}
nav{
background-color: var(--color0);
color: var(--color2);
display: flex;
justify-content: space-between;
align-items: center;
}
.logo{
  padding-left: 50px;
}
ul{
  display: flex;
  justify-content: space-between;
}
li{
  list-style-type: none;
  padding-inline-end: 50px;
}
.gallery-container{
  
    
    display: flex;
    grid-template-columns: repeat(auto-fit, 150px);
  
    gap:10px;
   
  
}
.img-in-gallery{
  
 
  width: 150px;
  

  
}
/*CANVAS*/
.canvas-container{
  background-color: rgb(157, 154, 154);
}
canvas{
display: block;
margin:0 auto;
max-width: 98vw;
  background-color: rgb(209, 206, 206);
}